.sidebar--container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar--container__top {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--blue);
}

.sidebar--icon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 10px;
}

.sidebar--name {
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar--container__bottom {
  width: 100%;
  height: 70%;
  padding-top: 2rem;
}

.sidebar--container__bottom h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 5px 1rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px var(--blue);
  text-transform: uppercase;
}

.sidebar--all {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}


/** mobile version */

.sidebar--container__bottom__mobile h3 {
  font-size: 1rem;
  padding: 5px 0;
}

.sidebar--name__mobile {
  font-size: 1rem;
}

.sidebar--all__mobile {
  font-size: 1rem;
}